<div class="error">
	<big>Error updating <%= @model_name %>:</big><br/>
	<%= @model.errors.full_messages.join('<br/>') %>
	<br/>
	<% @model.class.delegate_targets.each do |dt| %>
		<% assoc = @model.class.reflect_on_association(dt) %>
		<% assoc_name = assoc.class_name.underscore.to_sym %>
		<%= instance_variable_get("@#{assoc_name}").errors.full_messages.join('<br/>') %>
    <% end %>
</div>