<% form_for model_underscore.to_sym, @streamlined_item, 
            :url => { :action => "update", :id=>@streamlined_item},
            :html => {:onsubmit=>"Streamlined.Form.submit(this); return false;"} do |form| %>
  <%= render :partial => 'form', :locals=>{:form=>form} %>
  <%= submit_tag 'Save' %>
<% end %>
