<ul id="nav_ul" class="streamlined_menu">
	<li><div><a href="">Manage</a></div></li>
	<li><div><a href="<%= url_for(:controller => 'st_help') %>">Help</a></div></li>
	<li><div><a href="<%= url_for(:controller => 'st_about') %>">About</a></div></li>
	
</ul>