<html>
<head>
  <title><%= controller.action_name %></title>
  <%= streamlined_auto_discovery_link_tag %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'streamlined' %>
  <%= javascript_include_tag '/windows_js/javascripts/window' %>
  <%= javascript_include_tag '/overlib/overlib' %>
  <%= javascript_include_tag 'rico_corner' %>
  <%= stylesheet_link_tag '/windows_js/themes/mac_os_x' %>
  <%= stylesheet_link_tag '/windows_js/themes/default' %>
  <%= stylesheet_link_tag 'as_style' %>
  <%= stylesheet_link_tag 'streamlined' %>
  <%= stylesheet_link_tag 'menu' %>
</head>
<body>
		<div id="header">
			<%= render(:partial => 'shared/streamlined/header' )%>
		</div>
		<div id="center" class="column">
			<%= image_tag 'streamlined/loading.gif', :id=>'spinner', :style=>"display:none;" %>
			<%= @content_for_layout %>
		</div>
		<div id="left" class="column">
			<%= render(:partial => "shared/streamlined/manage")%>
		</div>
		<div id="right" class="column">
			&nbsp;
		</div>
		<div id="footer">
			<%= render(:partial => 'shared/streamlined/footer')%>
	    </div>
</body>
</html>
